* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
}
.CAM_container {
    margin: 20px;
    width: 50%;
    background:  #EDEDED;
    border-radius: 7px;
}
.CAM_container p {
    display: inline-block;
    font-size: 25px;
    color: #4472C4;
    font-weight: 700;
}
.row {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
}
.col-2, .col-3, .col-4, .col-5, .col-6, .col-9  {
    align-items: center;
}
.col-2 {
    flex: 16.666667%;
    max-width: 16.666667%;
}
.col-3 {
    flex: 25%;
    max-width: 25%;
}
.col-4 {
    flex: 33.333333%;
    max-width: 33.333333%;
}
.col-5 {
    flex: 41.666667%;
    max-width: 41.666667%;
}
.col-6 {
    flex: 50%;
    max-width: 50%;
}
.col-9 {
    flex: 75%;
    max-width: 75%;
}
.login {
    margin: 20px;
    width: 30%;
    background:  #EDEDED;
    border-radius: 7px;
}
.login label {
    font-size: 20px;
    font-weight: 600;
}
.container h1 {
    text-align: center;
    color: #4472C4;
    font-size: 25px;
    padding: 20px 0 20px 0;
}
.login_directory {
    width: 30%;
    background:  #4472C4;
    border-radius: 5px;
    color: white;
    padding: 20px 10px;
    border: 2px solid #2F528F;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}
.login_directory span {
    font-size: 25px;
    font-weight: bold;
}
.login input[type="password"], .login input[type="text"] {
    margin-left: 20px;
    width: 80%;
    padding: 15px;
    border: 2px solid #2F528F;
    box-sizing:border-box;
}
.login input[type="submit"], .login button {
    width: 100%;
    padding: 15px;
    background-color: #4472C4;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}
.pad-0 {
    padding: 0;
}
.pad-10 {
    padding: 10px 0;
}
.pad-15 {
    padding: 15px;
}
.padl-5 {
    padding-left: 5px;
}
.padb-100 {
    padding-bottom: 100px;
}
.mr-0 {
    margin: 0;
}
.mrb-20 {
    margin-bottom: 20px;
}

.accountQuery {
    display: block;
    font-weight: 600;
    font-size: 17px;
}
.registerLink {
    text-decoration: none;
    color: #4472C4;
    font-size: 15px;
    font-weight: 700;
}
.bluebtn {
    background:  #4472C4;
    border-radius: 4px;
    color: white;
    padding: 8px 10px;
    border: 2px solid #2F528F;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    float: right;
    width: 90px;
    height: 35px;
    margin: 19px 30px;
}
.subtitle {
    font-size: 20px !important;
    float: right;
}
.updatebtn {
    float: left;
}
.input-container {
    display: flex;
    justify-content: space-between;
    margin: 3em auto;
    max-width: 93%;
    background-color: #EDEDED;
    border: 3px solid black;
    height: 45px;
    align-items: center;
    padding-left: 10px;
}

input[type='file'] {
    display: none;
}

.file-info {
    display: inline;
    font-size: 0.9em;
}

.browse-btn {
    background: #4472C4;
    color: #fff;
    min-height: 35px;
    padding: 10px;
    border:2px solid #2F528F;
    float: right;
}


@media (max-width: 300px) {
    button {
        width: 100%;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
    }

    .file-info {
        display: block;
        margin: 10px 5px;
    }
}
#cert {
    width: 90%;
}
#certId{
    border-collapse: collapse;
    width: 100%;
}

#certId td, #certId th {
    /* border: 1px solid #ddd; */
    padding: 8px;
}

#certId tr:nth-child(even){background-color: #FFFFFF;}
#certId tr:nth-child(odd){background-color: #F8F6FF;}

#certId tr:hover {background-color: #ddd;}

#certId tr:first-child {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4472C4;
  color: white;
}